*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'Glory', sans-serif;
}

h1{
    font-size: 3rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 85%;
    max-width: 960px;
    margin: 0 auto;
}

.hero-text{
    
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: solid 1px red;
    border-radius: 1.2rem;
    /* padding: 2rem; */
   
}

.left-panel{
    border-right: 0.1rem solid red;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}

fieldset{
    border-radius: 0.5rem;
}

fieldset legend{
   
    text-align:left;
    margin-left: 0.5rem;
    padding: 0 0.2rem 0 0.2rem;
}

.choose-color > label{
    display: block;
}