*,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Glory', sans-serif;
    background-color: #67568c;
}

h1 {
    font-size: 3rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 85%;
    max-width: 960px;
    margin: 0 auto;
    
}

.hero-text {
    color: #ffdf03;
    text-align: center;
    margin-top: 1rem;
}

.hero-text h1{
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #67568c;
    border-radius: 1.2rem;
    padding: 1rem;
    padding-top: 00.5rem;
    grid-gap: 1rem;
    width: 100%;
    max-width: 600Px;

}

.sketch-pad-container {
    grid-gap: 0.5rem;
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #ffdf03;
    border-radius: 1.2rem;
    border: #474742 solid 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 1px 2px 2px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.5), 0 2px 8px rgba(0, 0, 0, 0.5);
}

.sketch-pad {
    width: 100%;
    max-width: 560px;
    height: 67vh;
    border-radius: 0.6rem;
    border: solid #474742 0.2rem;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.sketch-pad-tools {
    
    border-radius: 0.6rem;
    padding: 0 0.5rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    background-color: #9e9da127;
    width: 100%;
    max-width: 560px;
    /* flex-wrap: wrap; */
}

.color-tools{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;   
}

.color-picker-label{
    height: 2.2rem;
    position: absolute;
    left: -10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: transform 0.1s;
    font-weight: 900;
    color: #606060;
    text-align: center;
}

.color-picker-label:hover{
    transform: scale(1.03);
    color: #67568c;
}

.fas{
    color: #606060;
    display: inline-block;
    font-size: 1.8rem;
}

.fas:hover{
    color: #3a226d;
    

}

#color-picker {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2rem;
    outline: none;
    outline-color: none;
    background-color: none;
    border: none;
    border-image-width: 0;
    width: 0px;
    opacity: 0;
    appearance: none;
    z-index: -33;

}

#color-picker i{
    background-color: transparent;
}

.random-color{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    color: #606060;
    margin-left: 1.2rem;
    
}

.random-color:hover{
    color: #3a226d;
    transform: scale(1.02);
}

.random-icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid #606060;
    border-radius: 3px;
    max-width: 36px;
    align-self: center;
   
}

.eraser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    cursor: pointer;
    color: #606060;

}

.eraser:hover{
    color: #3a226d;
    transform: scale(1.02);
}

.erase-btn{
    border: 2px solid #606060;
    width:1.3rem;
    height: 2rem;
    border-radius: 3px;
    border-bottom-right-radius:8px;
    display: flex;
    position: relative;
    transform: rotate(45deg);
    margin-left: 0.5rem;
    
}

.erase-btn span{
    display: inline-block;
    width: inherit;
    height: 1rem;
    background-color: #606060;
}

.eraser span{
    text-align: center;
}


.colors{
    width: 1rem;
    height: 1rem;
    border: 1px solid #606060;
}

.first{background-color: blue;}
.second{background-color:greenyellow;}
.third{background-color: #fec7d7;}
.fourth{background-color: #c3f0ca;}

.grid-tools{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.grid-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    text-align: center;
}

.slider-controls{
    /* margin-left: 1.5rem; */

}

.decrement-slider,
.increment-slider {
    padding: 0 .3rem;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 900;
  
    margin-bottom: 1rem;
    position: relative;
    top: -4px;
    background-color: transparent;
    border: #606060 solid 2px;
    border-radius: 3px;
    color: #606060;
    cursor: pointer;
    transition: transform 0.2s;
}

.decrement-slider {
    margin-right: 0.3rem;
}

.decrement-slider:hover, 
.increment-slider:hover{
    border-color: #3a226d;
    transform: scale(1.05);
}

.decrement-slider:hover{
    color: #f53834;
}

.increment-slider:hover{
    color: green;
}

.increment-slider {
    margin-left: 0.3rem;
}

.display-number-of-grids {
    display: inline-block;
    padding: 0.5rem 0 0rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    /* text-align: center; */
    width: 100%;

}

.range-slider {
    appearance: none;
    width: 50%;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 999px;
    height: 0.3rem;
    outline: none;
    position: relative;
    top: -4px;
    
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 
    background: #67568c;
    cursor: pointer;
  }

  .range-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 
    background: #67568c;
    cursor: pointer;
  }

.reset-control{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
    color: #606060;
}


.reset-control:hover{
    color: #3a226d;
    transform: scale(1.03);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffdf03;
    flex-wrap: wrap;
}

.footer span{
    font-size: 1rem;
   
}

.made-by{
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.social{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
    flex: 1;
    margin-left: 1rem;
}

.social a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffdf03;
}

.social :not(:first-child){
    margin-left: 1.2rem;
    
}

.fab:hover{
    color: #fff;   
}

.social a:visited{
    color: #ffdf03;
    
}






@media(max-width:675px) {
    .sketch-pad{
        height: 60vh;
    }
    .sketch-pad-tools {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .color-tools{
        justify-content: space-around;
        flex: 1;
        width: 100%;
        
    }

    .grid-tools{
        justify-content: space-around;
        flex: 1;
        width: 100%;
    }

    



}

@media(max-width:400px) {
    h1{
        font-size: 2rem;
    }

    
    .sketch-pad{
        height: 55vh;
        /* min-width: 330px; */
    }

    .color-tools, .grid-tools{
        font-size: 0.6rem;
    }

    .fas{
        font-size: 1rem;
    }

    .colors{
        width: 0.6rem;
        height: 0.6rem;

    }

    .erase-btn{
        border: 2px solid #606060;
        width:0.8rem;
        height: 1.3rem;
    }
    
    .erase-btn span{
        height: 0.5rem;
        
    }
    
    .footer{
        flex-direction: column-reverse;
    }

    .grid-controls{
        flex: 2;
    }

    .decrement-slider,.increment-slider{
        /* display:none ; */
        font-size: 0.6rem;
        padding: 0.2rem;
    }

    .range-slider{
        /* width: 50%; */
    }

    .reset-control{
        flex: 1;
    }

    .social{
        margin-left: 0;
        justify-content: center;
    }

    
       
 
}

@media(max-width:330px){
    .sketch-pad-container{
        min-width: 230px;
    }

    .sketch-pad{
        height: 45vh;
    }

    .color-tools, .grid-tools{
        font-size: 0.5rem;
    }
}